@import 'src/common/styles/scss/variables';

.works {
  background-color: $bgColor;
  padding: 100px 0;

  .worksContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .worksItem {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 30px;
      align-items: flex-start;

      @media screen and (max-width: 1590px) {
        justify-content: space-around;
      }
    }
  }
}


