.skillsBlock {
    background-color: burlywood;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.skillsTitle {
    background-color: #eeeef5;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
    /*padding: 20px;*/
}

.skills:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1590px) {
    .skills {
        justify-content: space-around;
    }
}